<div class="container">
  <div class="col-lg-8 m-lg-auto text-center">
  <div class="card shadow">
    <div class="card-header">
      <h2 class="card-title text-center">Welcome to EventManager</h2>
    </div>
    <div class="card-body">
      <div>
        <%= link_to "<button class='btn btn-primary btn-lg mybutton' style='width: 140px;'> Go to Events </button>".html_safe, events_path %>
      </div>
    </div>
  </div>
</div>
</div>